<%- include('../partials/header') %>

<div id="trades">
    <h4><%=user.name %></h4>
    
    <% users.forEach(function(u) { %>
        <% u.haves.forEach(function(have){ %>

            <h3><%= have %></h3>
           
            <label name="image"></label>
                <img src="<%= u.image %>" width="85%">
        
            <h4 name="trades"><%= u.trades %></h4>
            <% }) %>
   <% }) %>


</div>

<%- include('../partials/footer'); %>