<%- include('../partials/header') %>

<div id="trades">
    
    <% users.forEach(function(u) { %>

        
        <h2 id="name"><%= u.name %></h2>
        <% u.haves.forEach(function(have){ %>

            <h3><%= have %></h3>
            <label name="image"></label>
            <img src="<%= u.image %>" width="75%">
            <h4 name="trades"><%= u.trades %></h4>
            <% }) %>
   <% }) %>


</div>

<%- include('../partials/footer'); %>