<%- include('../partials/header') %>

    <div id="trades">


        <% users.forEach(function(u) { %>
            <% u.haves.forEach(function(have){ %>


                <label name="image"></label>
                <div class="crop">
                    <img src="<%= u.image %>" width="85%">
                </div>
                <h4>Trade Item: <%= have %>
                </h4>
                <h5>Submitted By: <%=u.name %>
                </h5>
                <h4 name="trades">
                    <%= u.trades %>
                </h4>
                <% }) %>
                    <% }) %>


    </div>

    <%- include('../partials/footer'); %>