<%- include('../partials/header'); %>

    <form id="user-profile" action="/users" method="POST">
        <label>Name:</label>
        <input type="text" name="name" value="<%= user.name %>">
        <br>
        <label>Email:</label>
        <input name="email" value="<%= user.email %>">
        <br>
        </form>

        
            <h2>TRADES</H2>
                <h4>If you would like to connect with other users to trade click 
                    <a href="/users/<%=user._id%>/edit">here</a>!</h4>
                

   


    <%- include('../partials/footer'); %>