<%- include('../partials/header') %>

<div id="posts">
    
        <% posts.forEach(function(p) { %>

            
            <h2 id="title"></h2>
            <h4 id="topic"><%= p.topic %></h4>
            <img src="<%= p.image %>" width="75%">
            <p name="content"><%= p.content %></p>
            <a href="/posts/<%= p._id %>">details</a>
           
            
       <% }) %>
    
   
</div>


<%- include('../partials/footer') %>