<%- include('../partials/header') %>

<div id="posts">
    <% posts.forEach(function(post) { %>

        <h2 id="title"><%= post.title %></h2>
        <h4 id="topic"><<%= post.topic %></h4>
        <img scr id="default">
        <textarea name="content"><%= post.content %></textarea>
   <% }); %>
</div>


<%- include('../partials/footer') %>