<%- include('../partials/header') %>

<div id="show-page">

            
            <h2 id="title"><%= post.title %></h2>
            <h4 id="topic"><%= post.topic %></h4>
            <img src="<%= post.image %>">
            <textarea name="content"><%= post.content %></textarea>
            <a href="/posts/<%= post._id %>/comments">Add Comment</a>
            
     
    
   
</div>


<%- include('../partials/footer') %>