<%- include('../partials/header') %>

    <div id="show-page">
        <h2 id="title">
            <%= post.title %>
        </h2>
        <h4 id="topic">
            <%= post.topic %>
        </h4>
        <img class="size" src="<%= post.image %>">
        <p name="content"><%= post.content %></p>
        <% if (post.comments.length) { %>
           <% post.comments.forEach(function(comment){ %>
            <h6><%=comment.userName %></h6>
            <p><%= comment.content %></p>
           <% }) %>
        <% } %>
        <% if (user) { %>
            <form id="add-comment" method="POST" action="/posts/<%= post._id %>/comments">
                <label>Add Comment:</label>
                <br>
                <textarea name="content"></textarea>
                <br>
                <input type="submit" value="Add Comment">
            </form>
            <% } %>


                <% if (user && user._id.equals(post.user)) { %>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button type="submit">DELETE POST</button>
                    </form>
                    <% } %>


    </div>


    <%- include('../partials/footer') %>