<%- include('../partials/header') %>

<div id="show-page">

            
            <h2 id="title"><%= post.title %></h2>
            <h4 id="topic"><%= post.topic %></h4>
            <img src="<%= post.image %>">
            <textarea name="content"><%= post.content %></textarea>
            
            
                <% if (user) { %>
                <a href="/posts/<%= post._id %>/comments">Add Comment</a>
         
           
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                  <button type="submit">DELETE</button>
                </form>
              <% } %>
            
     
    
   
</div>


<%- include('../partials/footer') %>